.container1 {
  max-width: 600px;
  margin: auto;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  background: #f7a714;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}

.btn span {
  margin-left: 10px;
}
.btn:focus {
  outline: none !important;
}

.username {
  font-weight: bold;
}

.time {
  font-size: 0.8em;
  color: #999;
}

.update-mssg {
  text-align: center;
  margin: 20px auto;
}

.chat-rooms {
  padding: 10px;
}
.chat-rooms .btn {
  margin-top: 10px;
}

.chat-window {
  max-height: 250px;
  overflow: auto;
  scroll-behavior: smooth;
}

.show {
  margin-top: 70px;
  padding: 40px;
  border-radius: 10px;
  background-color: rgb(255, 238, 226);
  box-shadow: 0px 0px 2px black;
  animation: fadein 2s;
}

.inline {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

body {
  background-image: url(../assets/pexels-sound-on-3756879.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.new-name {
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .container1 {
    max-width: 300px;
  }

  .btn {
    width: 100px;
    margin-right: 10px;
  }

  .btn i {
    display: initial;
  }
  .inline {
    justify-content: center;
  }

  .chat-rooms {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  h1 {
    display: none;
  }

  .btn span {
    margin-left: 10px;
  }
}
